.century-title, h1, .pv-lander-btn, nav .center-ul, .pv-lander-gradient h2, .pv-bombay-lander h1, .pv-bombay-lander h4, .pv-bombay-lander b, .panel-stats, .panel-stats #all-courts-col ul.court-filters, .pv-panel .feature-desc h2, .pv-mentions h3, .pv-lander-footer h2, .pv-lander-footer .main-footer > .row:first-of-type h4, .pv-lander-footer .main-footer > .row:nth-of-type(2) .col h4, .pv-lander-footer .main-footer .copyright-line, .pv-pricing-gradient h2, .pricing-col h5, .pricing-col h4, .pricing-col span {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; }

.gill-heading, .pv-bombay-lander p, .pv-bombay-lander a#bombay-a, .panel-stats #all-courts-col ul.courts-list li, .panel-stats .live-stats h5, .pv-lander-footer h1, .pv-lander-footer .main-footer a, .pv-lander-footer .main-footer > .row:first-of-type .apps-col h5, .pricing-col ul li {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  text-transform: capitalize; }

.gill-regular {
  font-family: "Gill Sans", "Gill Sans Regular", Calibri, sans-serif;
  text-transform: capitalize; }

.roboto-thin-content, .pv-lander-gradient p, .pv-panel .feature-desc p, .pv-panel .feature-desc ul li .col.s10 p, .pv-mentions .press-says p {
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

.arial-narrow-alt, input.pv-lander-input, .pv-lander-footer .main-footer > .row:first-of-type ul li a {
  font-family: "Arial Narrow", Arial, sans-serif; }

html {
  overflow-x: hidden !important; }

body {
  max-width: 1920px;
  margin: 0 auto;
  background: #16425B; }

h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3rem; }
  @media (min-width: 768px) {
    h1 {
      font-size: 3.2rem; } }
  @media (min-width: 1280px) {
    h1 {
      font-size: 4.4rem; } }

input.pv-lander-input {
  border-bottom: none;
  background-color: #fff;
  border-radius: 5px;
  color: #5D5D5D;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  input.pv-lander-input:focus {
    border-bottom: 0px solid transparent !important;
    box-shadow: none !important; }

.pv-lander-btn {
  font-weight: bold;
  background-color: #00BFA5;
  box-shadow: none;
  border-radius: 4px; }
  .pv-lander-btn:hover {
    background-color: #00BFA5;
    box-shadow: none; }
  .pv-lander-btn.btn-large {
    height: 45px;
    line-height: 45px; }

.pv-store-btn {
  width: 35%; }
  .pv-store-btn.apple {
    margin-right: 20px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .pv-store-btn {
      width: 20%; } }
  @media (min-width: 1024px) {
    .pv-store-btn {
      width: 25%; } }

hr {
  opacity: 0.4; }

nav {
  max-width: 1920px;
  margin: 0 auto;
  z-index: 1;
  height: 80px;
  line-height: 80px;
  box-shadow: none;
  transition: transform 420ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.1s ease-in; }
  @media (max-width: 767px) {
    nav .brand-logo {
      font-size: 1.2rem; } }
  nav .brand-logo.right {
    right: 1.5rem; }
  nav .logo-div {
    padding-left: 2.5rem !important; }
  nav .button-collapse i {
    height: 80px;
    line-height: 80px;
    padding-left: 1rem; }
  nav .center-ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center; }
    nav .center-ul a {
      display: inline-block;
      color: #f2f2f2;
      line-height: 2rem; }
      nav .center-ul a i {
        height: 0;
        line-height: 0; }
      nav .center-ul a.with-i {
        line-height: 2.4rem; }
      nav .center-ul a:hover {
        background-color: transparent; }
      nav .center-ul a:after {
        content: '';
        display: block;
        height: 2px;
        width: 0;
        background: transparent;
        transition: width 0.3s ease, background-color 0.3s ease; }
      nav .center-ul a:hover:after {
        width: 100%;
        background: #f8f8f8; }
        .scrolled nav .center-ul a:hover:after {
          background: #222222; }
      @media (min-width: 1600px) {
        nav .center-ul a {
          font-size: 1.2rem; } }
  nav .nav-btn {
    font-size: 1.2rem;
    padding-right: 2.5rem !important; }
  nav i.material-icons {
    font-size: 1.6rem; }
  nav .col.s8.tie {
    padding: 0 6rem; }
  nav.static {
    background: rgba(255, 255, 255, 0);
    transform: translate3d(0, 0, 0); }
  .scrolled nav.static {
    transform: translate3d(0, -80px, 0); }
  nav.fixed {
    position: fixed;
    top: 0;
    background: white;
    transform: translate3d(0, -80px, 0);
    border-bottom: 1px solid rgba(93, 93, 93, 0.4); }
    nav.fixed .button-collapse i {
      color: #222222; }
    nav.fixed ul li a {
      color: #333333; }
    nav.fixed ul li a.btn {
      color: white; }
  .scrolled nav.fixed {
    transform: translate3d(0, 0, 0); }

ul li a i.material-icons {
  display: inline-block !important;
  vertical-align: middle; }

.pv-logo {
  font-family: "Courier New", Courier;
  letter-spacing: 0.8rem;
  font-weight: bold;
  display: block; }
  .pv-logo::before {
    content: 'pro';
    color: #f8f8f8;
    background-color: rgba(255, 255, 255, 0);
    padding-left: 0.5rem; }
  .pv-logo.orig::before {
    color: #222222; }
  .pv-logo::after {
    content: 'vakil';
    background-color: white;
    color: #222222;
    padding: 0.5rem 0 0.5rem 0.4rem; }
  .pv-logo.orig::after {
    background-color: #333333 !important;
    color: #f8f8f8 !important; }

.pv-lander-gradient {
  background-color: #16425B;
  color: #f8f8f8;
  text-align: left;
  min-height: 100vh; }
  .pv-lander-gradient .pv-logo::after {
    color: #16425B; }
  .pv-lander-gradient .hero-img {
    padding: 10px 30px; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .pv-lander-gradient .hero-img {
        padding: 10px 150px; } }
  .pv-lander-gradient .row .store-btns {
    margin-bottom: 20px; }
  .pv-lander-gradient .row.i1 {
    margin-top: 8vh; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .pv-lander-gradient .row.i1 {
        margin-top: 5vh; } }
    @media (min-width: 1024px) {
      .pv-lander-gradient .row.i1 {
        margin-top: 15vh; } }
  .pv-lander-gradient .row .main-right {
    text-align: center; }
    .pv-lander-gradient .row .main-right .get-started {
      margin-top: 50px; }
      .pv-lander-gradient .row .main-right .get-started .request-demo-btn {
        color: #f2f2f2;
        border: #00BFA5 2px solid;
        background-color: transparent; }
        .pv-lander-gradient .row .main-right .get-started .request-demo-btn:hover {
          background-color: #00BFA5; }
    .pv-lander-gradient .row .main-right h2 {
      margin-top: 0; }
    @media (min-width: 1024px) {
      .pv-lander-gradient .row .main-right {
        text-align: left; } }
  .pv-lander-gradient h2 {
    font-size: 1.8rem; }
  .pv-lander-gradient p {
    font-size: 1.2rem; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .pv-lander-gradient p {
        padding: 0 75px; } }
    @media (min-width: 1024px) {
      .pv-lander-gradient p {
        width: 65%; } }
  @media (min-width: 768px) {
    .pv-lander-gradient {
      background-image: url(/images/lander/lbg.svg), url(/images/lander/rbg.svg);
      background-repeat: no-repeat, no-repeat;
      background-position: left, right;
      background-blend-mode: multiply; } }

.pv-bombay-lander {
  color: #f8f8f8;
  text-align: left;
  min-height: 100vh;
  background-image: url(/images/lander/bombay-hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .pv-bombay-lander h1 {
    font-weight: bold;
    font-size: 2.7rem;
    text-transform: uppercase; }
    @media (min-width: 1024px) {
      .pv-bombay-lander h1 {
        font-size: 5rem; } }
  .pv-bombay-lander h4 {
    margin: 1rem 0 0 0.5rem;
    font-size: 2.5rem;
    font-weight: bold; }
    @media (max-width: 768px) {
      .pv-bombay-lander h4 {
        font-size: 1.2rem; } }
  .pv-bombay-lander b {
    font-size: 3.7rem; }
    @media (max-width: 768px) {
      .pv-bombay-lander b {
        font-size: 2rem; } }
  .pv-bombay-lander input {
    margin-right: 3%; }
    @media (min-width: 768px) {
      .pv-bombay-lander input {
        width: 25%; } }
    @media (max-width: 768px) {
      .pv-bombay-lander input {
        width: 70%; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      .pv-bombay-lander input {
        width: 25%; } }
  .pv-bombay-lander p {
    font-size: 1rem;
    font-style: normal;
    text-transform: None; }
    @media (max-width: 768px) {
      .pv-bombay-lander p {
        font-size: 0.7rem; } }
  .pv-bombay-lander .get-started {
    font-size: 2.5rem; }
    @media (max-width: 768px) {
      .pv-bombay-lander .get-started {
        font-size: 1rem; } }
  .pv-bombay-lander a#bombay-a {
    color: #f8f8f8;
    font-size: 1rem;
    text-transform: none;
    font-style: normal; }
    @media (max-width: 768px) {
      .pv-bombay-lander a#bombay-a {
        font-size: 0.7rem; } }
  @media (min-width: 1024px) {
    .pv-bombay-lander {
      background-image: url(/images/lander/rbg.svg), url(/images/lander/bombay-hero.png);
      background-repeat: no-repeat, no-repeat;
      background-position: right, center;
      background-size: auto, cover;
      background-blend-mode: multiply; } }

::-webkit-input-placeholder {
  color: #78909C; }

::-moz-placeholder {
  color: #78909C; }

:-ms-input-placeholder {
  color: #78909C; }

.panel-stats h3 {
  padding-top: 4vh;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  font-weight: bold;
  font-size: 2rem; }
  @media (min-width: 768px) {
    .panel-stats h3 {
      margin-bottom: 2rem; } }
.panel-stats #all-courts-col input {
  border: #bababa solid 2px; }
  .panel-stats #all-courts-col input:focus {
    border-bottom: #5D5D5D solid 2px !important;
    border: #5D5D5D solid 2px; }
.panel-stats #all-courts-col ul.court-filters {
  color: #5D5D5D;
  font-weight: bold;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 4rem; }
  @media (min-width: 768px) {
    .panel-stats #all-courts-col ul.court-filters {
      font-size: 1.2rem;
      letter-spacing: 0.1rem; } }
  .panel-stats #all-courts-col ul.court-filters li {
    cursor: pointer;
    padding: 0 1.5rem 0 1.5rem;
    border: 2px solid transparent; }
    .panel-stats #all-courts-col ul.court-filters li.selected {
      color: #00BFA5;
      border: 2px solid #00BFA5; }
.panel-stats #all-courts-col ul.courts-list {
  min-height: 330px;
  margin: auto;
  text-align: center;
  font-size: 1.2rem; }
  @media (min-width: 768px) {
    .panel-stats #all-courts-col ul.courts-list {
      text-align: left;
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
      -webkit-column-gap: 5rem;
      -moz-column-gap: 5rem;
      column-gap: 5rem; } }
  .panel-stats #all-courts-col ul.courts-list li {
    text-transform: none;
    padding-bottom: 1.2rem;
    color: #222222;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid; }
  .panel-stats #all-courts-col ul.courts-list.empty-courts-list {
    columns: 1; }
.panel-stats #all-courts-col .courts-list-empty {
  display: none;
  margin: auto;
  text-align: center; }
  .panel-stats #all-courts-col .courts-list-empty img {
    width: 180px;
    display: block;
    margin: 0 auto 2.5rem auto; }
.panel-stats #all-courts-col .court-pagination {
  min-height: 330px;
  border: 10px white solid;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.4s ease; }
  @media (min-width: 1024px) {
    .panel-stats #all-courts-col .court-pagination {
      border: 2vw white solid;
      border-radius: 4vw; } }
  .panel-stats #all-courts-col .court-pagination:hover {
    background-color: #f7f7f7; }
  .panel-stats #all-courts-col .court-pagination img {
    width: 15px;
    margin: auto;
    opacity: 0.7; }
    @media (min-width: 1024px) {
      .panel-stats #all-courts-col .court-pagination img {
        width: 30px; } }
.panel-stats #all-courts-col .pagination li.active {
  background-color: #00BFA5; }
.panel-stats .live-stats h4 {
  color: #222222;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem; }
.panel-stats .live-stats h5 {
  color: #333333;
  text-align: center;
  font-size: 3rem; }
  @media (min-width: 1024px) {
    .panel-stats .live-stats h5.right-line {
      border-right: 1px solid rgba(97, 97, 97, 0.5); } }

.pv-panel {
  min-height: 55vh; }
  @media (min-width: 1024px) {
    .pv-panel {
      min-height: 100vh; } }
  .pv-panel > .row {
    margin-bottom: 0px; }
  .pv-panel .feature-img-div {
    padding: 15vh 0 0 17vw; }
    .pv-panel .feature-img-div img {
      width: auto;
      height: auto;
      max-width: 85%; }
  .pv-panel .feature-desc {
    padding-top: 5vh;
    text-align: center; }
    @media (min-width: 1024px) {
      .pv-panel .feature-desc {
        text-align: left;
        padding-top: 20vh; } }
    @media (min-width: 1280px) {
      .pv-panel .feature-desc {
        padding-top: 30vh; } }
    .pv-panel .feature-desc h2 {
      margin-top: 0;
      text-transform: uppercase;
      font-size: 1.8rem;
      font-weight: bold; }
    .pv-panel .feature-desc p {
      font-size: 1.2rem;
      width: 70vw;
      margin: 0 auto; }
      @media (min-width: 1024px) {
        .pv-panel .feature-desc p {
          width: 30vw;
          margin-left: 0; } }
    .pv-panel .feature-desc .probot-img {
      width: 7rem;
      padding-bottom: 1rem; }
    .pv-panel .feature-desc ul {
      text-align: left; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .pv-panel .feature-desc ul {
          width: 60vw;
          margin-top: 10px;
          margin-left: 20vw; } }
      .pv-panel .feature-desc ul li {
        display: block;
        line-height: 2.7rem; }
        .pv-panel .feature-desc ul li.row {
          margin-bottom: 5px; }
        .pv-panel .feature-desc ul li .col.s2 {
          padding-right: 0; }
        .pv-panel .feature-desc ul li .col.s10 {
          line-height: 1.4rem;
          padding-left: 0; }
          .pv-panel .feature-desc ul li .col.s10 p {
            color: #333333;
            display: inline;
            font-size: 1.2rem; }
        .pv-panel .feature-desc ul li img {
          width: 1.3rem; }

.pv-mentions {
  min-height: 75vh;
  padding-top: 10vh; }
  @media only screen and (width: 1024px) {
    .pv-mentions {
      padding-top: 0; } }
  @media only screen and (max-height: 640px) {
    .pv-mentions {
      min-height: 120vh; } }
  @media (min-width: 1024px) {
    .pv-mentions {
      height: 65px; } }
  .pv-mentions h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem; }
  .pv-mentions .press-icons {
    text-align: center;
    padding-top: 2rem; }
    .pv-mentions .press-icons img {
      height: 55px;
      filter: gray;
      -webkit-filter: grayscale(100%);
      opacity: 0.5;
      transition: opacity 0.4s ease; }
      .pv-mentions .press-icons img.active {
        opacity: 1;
        filter: none;
        -webkit-filter: grayscale(0%); }
      @media (min-width: 768px) {
        .pv-mentions .press-icons img {
          height: 65px; } }
    .pv-mentions .press-icons img:first-of-type {
      margin-right: 2rem; }
      @media (min-width: 768px) {
        .pv-mentions .press-icons img:first-of-type {
          margin-right: 4rem; } }
  .pv-mentions .press-says {
    padding: 1rem; }
    .pv-mentions .press-says p {
      -webkit-user-select: none;
      user-select: none;
      padding: 2rem;
      font-size: 1.4rem;
      background-image: url(/images/lander/double.png);
      background-repeat: no-repeat;
      background-position: top left;
      background-size: 75px;
      margin: auto;
      position: absolute;
      opacity: 0;
      transition: opacity 0.4s ease; }
      .pv-mentions .press-says p.active {
        opacity: 1; }
      @media (min-width: 768px) {
        .pv-mentions .press-says p {
          width: 74vw;
          margin-left: 13vw;
          padding: 4.7rem;
          background-size: 110px; } }
      @media (min-width: 1024px) {
        .pv-mentions .press-says p {
          width: 60vw;
          margin-left: 20vw;
          padding: 3.6rem; } }
      @media (min-width: 1280px) {
        .pv-mentions .press-says p {
          width: 50vw;
          margin-left: 25vw; } }

.pv-lander-footer h1 {
  text-transform: none;
  font-size: 2rem; }
.pv-lander-footer h2 {
  text-transform: none;
  font-size: 1.6rem; }
.pv-lander-footer .start-trial {
  color: #f8f8f8;
  background-color: #16425B;
  margin-bottom: 0; }
  @media (max-width: 767px) {
    .pv-lander-footer .start-trial h2 {
      margin-bottom: 0; } }
  .pv-lander-footer .start-trial input {
    margin-top: 15px; }
  .pv-lander-footer .start-trial button {
    margin-top: 20px; }
    @media (max-width: 767px) {
      .pv-lander-footer .start-trial button {
        font-size: 0.65rem; } }
  @media (min-width: 1024px) {
    .pv-lander-footer .start-trial {
      padding: 0 15vh; } }
  @media (min-width: 1280px) {
    .pv-lander-footer .start-trial {
      padding: 0 25vh; } }
.pv-lander-footer .main-footer {
  background-color: #e0e1e3; }
  .pv-lander-footer .main-footer a {
    color: #333333;
    font-size: 1rem;
    text-transform: none; }
  .pv-lander-footer .main-footer > .row:first-of-type {
    padding: 30px 25px 0px 25px;
    margin-bottom: 0; }
    .pv-lander-footer .main-footer > .row:first-of-type span {
      color: #333333; }
    .pv-lander-footer .main-footer > .row:first-of-type h4 {
      color: #222222;
      font-size: 1.2rem;
      font-weight: bold;
      text-transform: uppercase; }
      @media (min-width: 1024px) {
        .pv-lander-footer .main-footer > .row:first-of-type h4 {
          font-size: 1.4rem; } }
      @media (max-width: 767px) {
        .pv-lander-footer .main-footer > .row:first-of-type h4 {
          text-align: center; } }
    .pv-lander-footer .main-footer > .row:first-of-type ul li {
      line-height: 2rem;
      font-size: 0.8rem; }
      @media (min-width: 1024px) {
        .pv-lander-footer .main-footer > .row:first-of-type ul li {
          font-size: 1rem; } }
      @media (max-width: 767px) {
        .pv-lander-footer .main-footer > .row:first-of-type ul li {
          text-align: center; } }
      .pv-lander-footer .main-footer > .row:first-of-type ul li a {
        font-size: 1.1rem;
        color: #333333; }
    .pv-lander-footer .main-footer > .row:first-of-type .double-list h4 {
      margin-bottom: 0; }
    .pv-lander-footer .main-footer > .row:first-of-type .double-list .row .col.s6 {
      padding-left: 0; }
    .pv-lander-footer .main-footer > .row:first-of-type .apps-col input {
      width: 55%;
      margin-right: 10px; }
    .pv-lander-footer .main-footer > .row:first-of-type .apps-col a.pv-lander-btn {
      background-color: #16425B;
      height: 30px;
      line-height: 30px;
      font-size: 0.6rem;
      padding: 0 1rem; }
    .pv-lander-footer .main-footer > .row:first-of-type .apps-col h5 {
      text-transform: none;
      font-size: 1.3rem; }
    .pv-lander-footer .main-footer > .row:first-of-type .apps-col .social img {
      width: 1.5rem;
      margin-right: 0.75rem; }
    @media (min-width: 1024px) {
      .pv-lander-footer .main-footer > .row:first-of-type .col.logo-col {
        width: 19.4%; }
      .pv-lander-footer .main-footer > .row:first-of-type .col.normal-list {
        width: 12.4%; }
      .pv-lander-footer .main-footer > .row:first-of-type .col.apps-col {
        width: 31%; } }
  .pv-lander-footer .main-footer > .row:nth-of-type(2) {
    padding: 0 25px 0px 25px; }
    @media (max-width: 767px) {
      .pv-lander-footer .main-footer > .row:nth-of-type(2) {
        padding-top: 10px; } }
    .pv-lander-footer .main-footer > .row:nth-of-type(2) .col .super {
      vertical-align: super; }
    .pv-lander-footer .main-footer > .row:nth-of-type(2) .col img.icon {
      width: 1.2rem; }
      .pv-lander-footer .main-footer > .row:nth-of-type(2) .col img.icon.analytics {
        vertical-align: sub; }
    .pv-lander-footer .main-footer > .row:nth-of-type(2) .col img.mp {
      height: 1.8rem;
      vertical-align: middle; }
    .pv-lander-footer .main-footer > .row:nth-of-type(2) .col img.payment-icon {
      width: 2.5rem; }
    @media (min-width: 1024px) {
      .pv-lander-footer .main-footer > .row:nth-of-type(2) .col.address {
        width: 19%; } }
    .pv-lander-footer .main-footer > .row:nth-of-type(2) .col h4 {
      color: #222222;
      font-size: 1.1rem;
      font-weight: bold;
      display: inline;
      margin-right: 0.5rem; }
      @media (max-width: 768px) {
        .pv-lander-footer .main-footer > .row:nth-of-type(2) .col h4:after {
          content: '\a';
          white-space: pre; } }
    @media (min-width: 1024px) {
      .pv-lander-footer .main-footer > .row:nth-of-type(2) .col:first-of-type {
        width: 19.4%; } }
  .pv-lander-footer .main-footer .copyright-line {
    margin: 0 auto;
    font-weight: bold;
    padding-bottom: 10px; }

.pv-pricing-gradient {
  background-color: #115a53;
  text-align: left;
  min-height: 60vh;
  color: #f2f2f2; }
  .pv-pricing-gradient .pv-logo::after {
    color: #115a53; }
  .pv-pricing-gradient > .container {
    min-height: 55vh; }
    .pv-pricing-gradient > .container .row.internal {
      padding: inherit 0;
      font-size: 0.9rem; }
      .pv-pricing-gradient > .container .row.internal img {
        width: 2.5rem;
        padding-right: 10px; }
      @media (min-width: 1280px) {
        .pv-pricing-gradient > .container .row.internal img {
          padding-right: 0;
          width: 2.8rem; } }
  .pv-pricing-gradient .pricing-freebies {
    margin-left: 0; }
  @media (min-width: 1024px) {
    .pv-pricing-gradient {
      min-height: 100vh;
      background-image: url(/images/lander/lbg.svg), url(/images/lander/rbg.svg);
      background-repeat: no-repeat, no-repeat;
      background-position: left, right;
      background-blend-mode: multiply; } }
  .pv-pricing-gradient h1 {
    font-size: 2.5rem;
    color: #f8f8f8; }
    @media (min-width: 768px) {
      .pv-pricing-gradient h1 {
        font-size: 2.7rem; } }
    @media (min-width: 1280px) {
      .pv-pricing-gradient h1 {
        font-size: 3.8rem; } }
  .pv-pricing-gradient h2 {
    color: #f2f2f2;
    font-size: 1.5rem; }

.pricing-next {
  position: relative;
  top: -50vh; }
  @media (min-width: 1280px) {
    .pricing-next {
      top: -43vh; } }
  @media (min-width: 1600px) {
    .pricing-next {
      top: -55vh; } }
  @media (max-width: 768px) {
    .pricing-next {
      position: static;
      top: 0; } }
  .pricing-next div.switch.right {
    margin-bottom: 5px; }
  @media (max-width: 767px) {
    .pricing-next .price-inclusive {
      font-size: 0.8rem; } }

.pricing-main {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border-radius: 5px;
  width: 75%;
  margin: 0 auto;
  -webkit-box-shadow: 0px 4px 30px -2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 4px 30px -2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 30px -2px rgba(0, 0, 0, 0.4);
  background-color: white;
  flex-wrap: wrap; }
  .pricing-main > .pricing-col {
    -webkit-flex: 1 0 0;
    -ms-flex: 1 0 0;
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    align-items: stretch; }

.pricing-col {
  padding-bottom: 90px; }
  @media (max-width: 768px) {
    .pricing-col {
      text-align: center; } }
  .pricing-col img {
    width: 10rem;
    margin: 40px auto; }
  .pricing-col h5 {
    font-size: 1rem;
    padding: 0;
    margin-bottom: 0; }
  .pricing-col h4 {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0; }
  .pricing-col span {
    font-size: 3.6rem;
    font-weight: bold;
    color: #292727;
    background-image: url(/images/rupee.svg);
    background-position: 0 18px;
    background-repeat: no-repeat;
    padding-left: 25px;
    background-size: 20px; }
    @media (min-width: 1280px) {
      .pricing-col span {
        font-size: 4.2rem;
        background-position: 0 24px; } }
    .pricing-col span::after {
      content: '/month';
      color: #5D5D5D;
      font-size: 1.8rem;
      font-weight: normal; }
    .pricing-col span.price-junior::after {
      content: '/month*'; }
    .pricing-col span.price-team::after {
      font-size: 1.2rem;
      content: 'per user/month'; }
  .pricing-col ul {
    margin-bottom: 50px; }
    .pricing-col ul li {
      font-size: 1.4rem;
      color: #5D5D5D;
      line-height: 3; }
      @media (max-width: 767px) {
        .pricing-col ul li {
          line-height: 2; } }
  .pricing-col a {
    margin: auto auto 0 auto; }
  .row .pricing-col.col.card {
    padding-bottom: 15px;
    width: 90%;
    margin: 10px 5%; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .row .pricing-col.col.card {
        width: 44%;
        margin: 10px 3%; }
        .row .pricing-col.col.card:last-of-type {
          margin: 10px 28%; } }

button.google-auth.google-light {
  display: block;
  width: 100%;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  background: #fff;
  border: #ccc solid 1px;
  text-align: left; }
  button.google-auth.google-light:hover {
    background: #fafafa; }

button.google-auth.google-light span.google-icon {
  background-image: url("/images/g-logo.svg");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 50%;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 1px;
  border-right: 1px solid #b7b7b7;
  width: 15%;
  margin-right: 16px; }

button.google-auth.google-light span.google-text {
  display: inline-block;
  vertical-align: middle;
  width: 75%;
  font-size: 1rem;
  font-weight: 300;
  text-transform: none;
  text-align: center;
  color: #000;
  opacity: 0.54;
  font-family: 'Roboto', sans-serif;
  padding-right: 8px;
  margin: 0; }

.with-an-email {
  font-weight: 300;
  font-size: 1.2rem;
  margin-bottom: -10px;
  color: #777777;
  font-family: 'Roboto',sans-serif; }

.margin {
  margin: 0 !important; }

.medium-small {
  font-size: 0.9rem;
  margin: 0;
  padding: 0; }

.pv-label {
  top: 1.5rem !important;
  font-size: 0.8rem !important; }

.pv-btn {
  font-weight: bold;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; }

#remember-me {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #777777; }

.coupon {
  cursor: pointer;
  height: 50px !important;
  padding: 0 !important; }

.sliderDiv {
  position: relative;
  top: 0;
  padding: 20px !important;
  background: white;
  z-index: 10 !important;
  box-shadow: 0 0 2px grey;
  transition: all 0.4s ease !important;
  transform-origin: 50% 50% !important; }

.verify {
  top: 55px;
  /*left:15% !important;*/
  /*width:100px !important;*/
  /*width: 70% !important;*/
  background: #2bbbad !important;
  color: white !important;
  padding: 0px !important; }

.verify a {
  color: white !important; }

.largeBtn {
  width: 70%;
  left: 10% !important; }

.inputDiv input {
  width: 70%;
  position: relative;
  top: -5px;
  color: white; }

#closeCode {
  font-size: 24px;
  line-height: 2 !important;
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.3s ease; }

#closeCode:hover {
  color: rgba(255, 255, 255, 0.9); }

.inputDiv {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 9 !important;
  left: 0;
  background: #16425B; }

.tag {
  position: absolute;
  top: 0px;
  left: -30px;
  transform: rotate(-50deg);
  transform-origin: 90% 50%;
  transition: all 1s ease;
  animation: swing 1.5s infinite; }

.tag i {
  font-size: 40px;
  transition: all 1s ease; }

.wiggle {
  animation: wiggle 0.3s 2; }

.bigCard {
  background: white !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 3px; }

#nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: 67px;
  background: rgba(255, 255, 255, 0.5);
  left: 0;
  z-index: -1; }

@-webkit-keyframes wiggle {
  0% {
    left: 0px; }
  25% {
    left: -10px; }
  70% {
    left: 10px; }
  100% {
    left: 0px; } }
@keyframes wiggle {
  0% {
    left: 0px; }
  25% {
    left: -10px; }
  70% {
    left: 10px; }
  100% {
    left: 0px; } }

/*# sourceMappingURL=index.css.map */
